<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<div class="centered" style="padding-top: 10%">
		<p:panel header="Access denied">
			<div style="text-align: center; padding: 0 20px 20px">
				<H3>You have no permission to view this page. </H3>
				<a href="home.xhtml">Go to home page</a>
			</div>
		</p:panel>
	</div>	

</ui:composition>