<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:form id="sprintForm" render="#{not empty sprintModel.currentSprint}">
		<p:dialog header="Create sprint" widgetVar="sprintDlg" modal="true"
			resizable="false" draggable="false" closable="false">
			<p:messages autoUpdate="true" showDetail="true"/>
			<h:panelGrid id="sprintGrid" columns="2" cellpadding="5"
				columnClasses="panelLabels">

				<p:outputLabel for="title" value="Title:" />
				<h:panelGroup>
					<p:inputText id="title" value="#{sprintModel.currentSprint.title}" required="true" 
						requiredMessage="Title can not be empty."/>
					<p:message for="title" />
				</h:panelGroup>

				<p:outputLabel for="add_start" value="Start date:" />
				<h:panelGroup>
					<p:calendar id="add_start" pattern="yyyy-MM-dd HH:mm" mask="true"
						value="#{sprintModel.currentSprint.startDate}" 
						binding="#{startDateComponent}" required="true"
						requiredMessage="Start date can not be empty.">
					</p:calendar>
					<p:message for="add_start" />
				</h:panelGroup>

				<p:outputLabel for="add_finish" value="Finish date:" />
				<h:panelGroup>
					<p:calendar id="add_finish" pattern="yyyy-MM-dd HH:mm" mask="true"
						value="#{sprintModel.currentSprint.finishDate}" required="true"
						requiredMessage="Finish date can not be empty.">
						<f:validator binding="#{sprintDatesValidator}"/>
						<f:attribute name="startDateComponent" value="#{startDateComponent}"/>
					</p:calendar>
					<p:message for="add_finish" />
				</h:panelGroup>

			</h:panelGrid>
	
			<f:facet name="footer">
				<p:commandLink value="Save" actionListener="#{sprintController.save()}"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('sprintDlg').hide();"
					update=":projectView" />
				<p:commandLink value="Cancel"
					actionListener="#{sprintController.cancel()}"
					onclick="PF('sprintDlg').hide();" immediate="true" />
			</f:facet>

		</p:dialog>
	</h:form>
</ui:composition>