<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<h:form styleClass="customView">
			<p:tabView dynamic="true" cache="true" 
				activeIndex="#{tabController.userViewTabIndex}"
				onTabChange="handleTabChange(index)">
				<p:tab title="Managed projects" rendered="#{not empty cachedProject.getManagedProjects(userModel.getLoggedUser())}">
					<p:dataTable paginator="true" rows="10" value="#{cachedProject.getManagedProjects(userModel.getLoggedUser())}" 
						var="project" id="managedProjectsTable" selectionMode="single" selection="#{project}" 
						rowKey="#{project.id}" styleClass="ui-datatable-wrapped">
						<p:ajax event="rowSelect" listener="#{projectController.onRowSelect}" />
						<p:column headerText="ID">
							<h:outputText value="#{project.id}" />
						</p:column>
						<p:column headerText="Title">
								#{project.title}
						</p:column>
						<p:column headerText="Start Date">
							<h:outputText value="#{project.startDate}" >
							    <f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>
						<p:column headerText="Finish Date">
							<h:outputText value="#{project.finishDate}" >
							    <f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
				<p:tab title="Projects" rendered="#{not empty cachedProject.getUserProjects(userModel.getLoggedUser())}">
					<p:dataTable paginator="true" rows="10" value="#{cachedProject.getUserProjects(userModel.getLoggedUser())}" var="project" id="projectTable"
						selectionMode="single" selection="#{project}" rowKey="#{project.id}" styleClass="ui-datatable-wrapped">
						<p:ajax event="rowSelect" listener="#{projectController.onRowSelect}" />
						<p:column headerText="ID">
							<h:outputText value="#{project.id}" />
						</p:column>
						<p:column headerText="Title">
								#{project.title}
						</p:column>
						<p:column headerText="Manager">
							<h:outputText value="#{project.projectManager.getName()} #{project.projectManager.getSurname()}" />
						</p:column>
						<p:column headerText="Start Date">
							<h:outputText value="#{project.startDate}" >
							    <f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>
						<p:column headerText="Finish Date">
							<h:outputText value="#{project.finishDate}" >
							    <f:convertDateTime pattern="yyyy-MM-dd" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:tab>
				<p:tab title="Tasks">
					<p:dataTable paginator="true" rows="10" id="taskTable" value="#{cachedTask.getUserTasks(userModel.getLoggedUser())}"
						var="task" selectionMode="single" selection="#{task}" rowKey="#{task.id}" styleClass="ui-datatable-wrapped">
						<p:ajax event="rowSelect" listener="#{taskController.onRowSelect}" />
						<p:column headerText="ID">
							<h:outputText value="#{task.id}" />
						</p:column>
						<p:column headerText="Task">
								#{task.title}
						</p:column>
						<p:column headerText="Status">
							<h:outputText value="#{task.taskStatus.value}" />
						</p:column>
					</p:dataTable>
				</p:tab>
			</p:tabView>
		</h:form>
		
		<script type="text/javascript">
			function handleTabChange(i) {
				var str = 'Home - '
				if (i === 0) {
					str += 'Managed Projects';
				} else if (i === 1) {
					str += 'Projects'
				} else {
					str += 'Tasks'
				};
				document.title = str;
			};
		</script>
	</ui:define>
	
	<ui:define name="title">
		Home - <h:outputText value="#{tabController.userViewTabIndex eq 0 ? 'Managed Projects' : (tabController.userViewTabIndex eq 1 ? 'Projects' : 'Tasks')}" />
	</ui:define>
</ui:composition>