<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
		<h:outputScript library="js" name="sticky.js" target="head"/>
		<div id="stickyAnchor"></div>
		<div class="contentHeader smoothTransition stickyElement">
			<h:form>
				<p:commandLink value="#{projectModel.currentProject.title}" action="#{projectController.overview(projectModel.currentProject)}" />
				/
				<p:commandLink value="Tasks" action="allTasks" />
			</h:form>
			<h1>#{projectModel.currentProject.title}</h1>
		</div>
			
		<h:form id="projectView" styleClass="AfterStickyElement">
			<div class="contentBody" style="padding-top: 20px">
			<p:dataTable paginator="true" value="#{cachedTask.getProjectTasks(projectModel.currentProject)}"
				id="taskTable" widgetVar="taskTable" var="task" rows="10" 
				selectionMode="single" selection="#{task}" rowKey="#{task.id}"
				styleClass="ui-datatable-wrapped"
				paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
				<p:ajax event="rowSelect" listener="#{taskController.onRowSelect}" />
				<f:facet name="header">
        			<span style="width: 100%;">Project tasks</span>
        			<span style="position: absolute; right: 30px; padding-right: 1%;">
						<h:commandLink title="Export all project tasks.">
							<p:graphicImage name="img/csv.png" width="30" height="30" />
							<p:fileDownload value="#{projectController.getProjectTasksCsvFile()}" />
						</h:commandLink>
					</span>
				</f:facet>
    					
				<p:column headerText="Id" sortBy="#{task.id}" >
					<h:outputText value="#{task.id}"/>
				</p:column>

				<p:column headerText="Title" filterBy="#{task.title}" filterMatchMode="contains" sortBy="#{task.title}">
					<h:outputText value="#{task.title}"/>
				</p:column>
						
				<p:column headerText="Status" style="width:120px;" filterBy="#{task.taskStatus.value}" filterMatchMode="exact"  sortBy="#{task.taskStatus.value}">
					<f:facet name="filter">
						<p:selectOneMenu label="Select" onchange="PF('taskTable').filter()">
							<f:selectItem itemLabel="Select" itemValue="#{null}" noSelectionOption="true"/>
							<f:selectItems value="#{taskController.taskStatuses}" var="status" 
								itemValue="#{status.value}" itemLabel="#{status.value}"/>
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{task.taskStatus.value}"/>
				</p:column>
					
				<p:column headerText="Assignee"  sortBy="#{task.assignee.showFullName()}" filterBy="#{task.assignee.showFullName()}" filterMatchMode="contains">
					<h:outputText value="#{task.assignee.showFullName()}" styleClass="#{task.assignee.active ? '' : (userModel.getLoggedUser().id == task.project.projectManager.id ? (task.taskStatus.value != 'Done' ? 'statusSuspended' : '') : '')}"/>
				</p:column>
					
				<p:column headerText="Sprint" filterBy="#{task.sprint.title}" filterMatchMode="exact" sortBy="#{task.sprint.title}">
					<f:facet name="filter">
						<p:selectOneMenu onchange="PF('taskTable').filter()">
							<f:selectItem itemLabel="Select" itemValue="#{null}" noSelectionOption="true"/>
							<f:selectItems value="#{sprintController.findByProject(projectModel.currentProject)}"
								var="sprint" itemValue="#{sprint.title}" itemLabel="#{sprint.title}"/>
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{task.sprint.title}"/>
				</p:column>
						
				<p:column headerText="SP" style="width:45px;" sortBy="#{task.storyPoints}">
					<h:outputText value="#{task.storyPoints}"/>
				</p:column>
					
				<p:column headerText="Created" sortBy="#{task.creationDate}" sortMode="multiple"
					filterBy="#{task.creationDate}" filterFunction="#{dateFilterBean.filterByDate}">
					<f:facet name="filter">
    					<h:inputHidden id="filter"/>
  					</f:facet>
  					<f:facet name="header">
   						<p:outputLabel value="Created" />
    					<br />
    					<p:calendar id="from" pattern="yyyy-MM-dd"
    						onchange="$(PrimeFaces.escapeClientId('#{p:component('filter')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
    						onblur="PF('taskTable').filter()">
    						<p:ajax event="dateSelect" 
      						onstart="$(PrimeFaces.escapeClientId('#{p:component('filter')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value" 
      						oncomplete="PF('taskTable').filter()" />
    					</p:calendar>

    					<p:calendar id="to" pattern="yyyy-MM-dd"
    						onchange="$(PrimeFaces.escapeClientId('#{p:component('filter')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
    						onblur="PF('taskTable').filter()">
      						<p:ajax event="dateSelect" 
      						onstart="$(PrimeFaces.escapeClientId('#{p:component('filter')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value" 
      						oncomplete="PF('taskTable').filter()" />
    					</p:calendar>
  					</f:facet>
					<h:outputText value="#{task.creationDate}">
						<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>
						
				<p:column headerText="Updated" sortBy="#{task.updateDate}" sortMode="multiple" filterBy="#{task.updateDate}"
					filterFunction="#{dateFilterBean.filterByDate}">
					<f:facet name="filter">
						<h:inputHidden id="filter3" />
					</f:facet>
					<f:facet name="header">
						<p:outputLabel value="Updated" />
						<br />
						<p:calendar id="from3" pattern="yyyy-MM-dd"
							onchange="$(PrimeFaces.escapeClientId('#{p:component('filter3')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from3')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to3')}_input'))[0].value"
							onblur="PF('taskTable').filter()">
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('filter3')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from3')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to3')}_input'))[0].value"
								oncomplete="PF('taskTable').filter()" />
						</p:calendar>
						<p:calendar id="to3" pattern="yyyy-MM-dd"
							onchange="$(PrimeFaces.escapeClientId('#{p:component('filter3')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from3')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to3')}_input'))[0].value"
							onblur="PF('taskTable').filter()">
							<p:ajax event="dateSelect"
								onstart="$(PrimeFaces.escapeClientId('#{p:component('filter3')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from3')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to3')}_input'))[0].value"
								oncomplete="PF('taskTable').filter()" />
						</p:calendar>
					</f:facet>
					<h:outputText value="#{task.updateDate}">
						<f:convertDateTime pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>
						
				<p:column headerText="Completed" sortBy="#{task.completeDate}" sortMode="multiple"
					filterBy="#{task.completeDate}" filterFunction="#{dateFilterBean.filterByDate}">
					<f:facet name="filter">
    					<h:inputHidden id="filter2" />
  					</f:facet>
  					<f:facet name="header">
   						<p:outputLabel value="Completed" />
    					<br />
    					<p:calendar id="from2" pattern="yyyy-MM-dd"
    						onchange="$(PrimeFaces.escapeClientId('#{p:component('filter2')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from2')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to2')}_input'))[0].value" 
      						onblur="PF('taskTable').filter()">
      						<p:ajax event="dateSelect" 
      						onstart="$(PrimeFaces.escapeClientId('#{p:component('filter2')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from2')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to2')}_input'))[0].value" 
      						oncomplete="PF('taskTable').filter()" />
    					</p:calendar>
    					<p:calendar id="to2" pattern="yyyy-MM-dd"
    						onchange="$(PrimeFaces.escapeClientId('#{p:component('filter2')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from2')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to2')}_input'))[0].value" 
      						onblur="PF('taskTable').filter()">
      						<p:ajax event="dateSelect" 
      						onstart="$(PrimeFaces.escapeClientId('#{p:component('filter2')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from2')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to2')}_input'))[0].value" 
      						oncomplete="PF('taskTable').filter()" />
    					</p:calendar>
  					</f:facet>
					<h:outputText value="#{task.completeDate}">
						<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
					</h:outputText>
				</p:column>
				
				<f:facet name="footer"><span></span></f:facet>
						
				<p:ajax event="sort" oncomplete="PF('taskTable').unselectAllRows()"/>
				<p:ajax event="filter" oncomplete="PF('taskTable').unselectAllRows()"/>
						
			</p:dataTable>
			
			<h:panelGroup styleClass="search">
				<p:outputLabel for="searchDesc" value="Search by description:"/>
				<p:inputText id="searchDesc" placeholder="Enter fragment" binding="#{fragment}" />
				<p:commandButton value="Search" action="#{taskController.searchTasksByFragment(fragment.value)}"/>
			</h:panelGroup>
			<br/>
			<br/>
			</div>
		</h:form>
	</ui:define>
	
</ui:composition>