<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
	<c:if test="#{projectController.displayPage() eq true}">
		<h:outputScript library="js" name="sticky.js" target="head"/>
		<div id="stickyAnchor"></div>
		<div class="contentHeader smoothTransition stickyElement">
			<h:form id="contentHeaderForm">
				<p:commandLink value="PROJECT ID #{projectModel.currentProject.id}"/>
				<h1>
					<h:outputText rendered="#{projectModel.currentProject.projectManager.id ne userModel.getLoggedUser().id}" value="#{projectModel.currentProject.title}" />
           			<p:inplace id="title" editor="true" rendered="#{projectModel.currentProject.projectManager.id eq userModel.getLoggedUser().id}">
	            		<p:ajax event="save" listener="#{projectController.save()}"/>
						<p:inputText id="inputTitle" value="#{projectModel.currentProject.title}" required="true" requiredMessage="Project title can not be empty."/>
	            	</p:inplace>
	        	</h1>
	    	</h:form>
	    </div>

		<h:form id="projectView" styleClass="AfterStickyElement">
		<h:panelGroup rendered="#{userModel.getLoggedUser().id eq projectModel.currentProject.projectManager.id and not empty cachedTask.findSuspendedUsersTasksInProject(projectModel.currentProject)}">
			<div class="ui-messages ui-widget">
				<div class="ui-messages-warn ui-corner-all">
					<span class="ui-messages-warn-icon"></span>
					<ul>
						<li>
							<span class="ui-messages-warn-summary">There are tasks, which are assigned to suspended users.</span>
							<span class="ui-messages-warn-detail"><a href="#" onclick="PF('suspendedTaskDlg').show();">Show tasks</a></span>
						</li>
					</ul>
				</div>
			</div>
		</h:panelGroup>
			
			<div class="contentBody">
				<p:messages id="messages" autoUpdate="true" />
				<div class="contentMainColumn contentColumn">
					<div class="contentItem">
						<p:fieldset legend="Details" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<div class="column">
								<dl>
									<dt>Tasks</dt>
									<dd>
										<ul>
											<li><span class="label labelBold">Total:</span>
												<h:outputText value="#{projectController.countTasks()}" styleClass="field"/></li>
											<li><span class="label labelBold">Finished:</span>
												<h:outputText value="#{projectController.countDoneTasks()}" styleClass="field"/></li>
											<li><span class="label labelBold">Unfinished:</span>
												<h:outputText value="#{projectController.countTasksLeft()}" styleClass="field"/></li>
										</ul>
									</dd>
									<dt><p:progressBar id="projectProgressBar"
										value="#{100*projectController.progress}" 
										labelTemplate="{value}%" displayOnly="true" 
										style="width:70%; margin-top: 30px;" />
										<p:tooltip value="Progress of tasks"
											for="projectProgressBar" trackMouse="true"
											showDelay="1000"/></dt>
								</dl>
							</div>
							<div class="column">
								<dl>
									<dt>Story Points</dt>
									<dd>
										<ul>
											<li><span class="label labelBold">Done:</span>
												<h:outputText value="#{projectController.countStoryPointsDone()}" styleClass="field"/></li>
											<li><span class="label labelBold">To do:</span>
											 	<h:outputText value="#{projectController.countStoryPointsLeft()}" styleClass="field"/></li>
										</ul>
									</dd>
									<dt>Velocity</dt>
									<dd>
										<ul>
											<li><span class="label labelBold">Tasks per day:</span> 
												<h:outputText value="#{projectController.tasksPerDay}" styleClass="field">
													<f:convertNumber pattern="#0.00" />
												</h:outputText></li>
											<li><span class="label labelBold">SPs per day:</span>
												<h:outputText value="#{projectController.storyPointsPerDay}" styleClass="field">
													<f:convertNumber pattern="#0.00" />
												</h:outputText></li>
										</ul>
									</dd>
								</dl>	
							</div>
						</p:fieldset>
					</div>
					<div class="contentItem">
						<p:fieldset legend="Description" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<h:outputText value="#{projectModel.currentProject.description}" styleClass="wordBreak" escape="false"/>
							<h:panelGroup rendered="#{projectModel.currentProject.projectManager.id eq userModel.getLoggedUser().id}">
								<br/>
								<br/>
								<div align="right">
									<p:commandLink id="editDescriptionButton" oncomplete="PF('descriptionDlg').show();" 
										update=":descriptionEditorForm"
										styleClass="btn-floating">
										<i class="fa fa-pencil"></i>
									</p:commandLink>
									<p:tooltip for="editDescriptionButton" value="Edit description" showDelay="1000"></p:tooltip>
								</div>   
							</h:panelGroup>
						</p:fieldset>
					</div>
					<div class="contentItem">
						<p:fieldset legend="Sprints" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<p:dataTable value="#{sprintController.findByProject(projectModel.currentProject)}"
								var="sprint" styleClass="tableWithButtonAttached" id="sprintTable" widgetVar="sprintTable"
								rowStyleClass="#{sprintController.isSprintFailed(sprint) ? 'redText' : (sprint.active ? 'greenText' : '')}"
								selectionMode="single" selection="#{sprint}" rowKey="#{sprint.id}">
								<p:ajax event="rowSelect" listener="#{sprintController.onRowSelect}"/>
								<p:column headerText="Id">
									<h:outputText value="#{sprint.id}"/>
								</p:column>
								<p:column headerText="Sprint">
									<h:outputText value="#{sprint.title}"/>
								</p:column>
								<p:column headerText="Start date">
									<h:outputText value="#{sprint.startDate}">
										<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
									</h:outputText>
								</p:column>
								<p:column headerText="Finish date">
									<h:outputText value="#{sprint.finishDate}">
										<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
									</h:outputText>
								</p:column>
								<f:facet name="footer"><span></span></f:facet>
							</p:dataTable>
							<p:commandLink id="createSprintButton" actionListener="#{sprintController.create()}"
								update="sprintForm"
								oncomplete="PF('sprintDlg').show();" 
								styleClass="attachedButton btn-floating red">
								<i class="fa fa-plus"></i>
							</p:commandLink>
							<p:tooltip for="createSprintButton" value="Create new sprint" showDelay="1000"></p:tooltip>
						</p:fieldset>
					</div>
				</div>
				<div class="contentSideColumn contentColumn">
					<div class="contentItem">
						<p:fieldset legend="Dates" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<h:panelGrid columns="1">
								<h:outputText value="Start date:" styleClass="label labelBold"/>
								<h:outputText value="#{projectModel.currentProject.startDate}"
									rendered="#{not projectController.isManager(userModel.getLoggedUser()) and not userController.isAdmin(userModel.getLoggedUser())}">>
									<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
								</h:outputText>
								<p:inplace editor="true"
									rendered="#{projectController.isManager(userModel.getLoggedUser()) or userController.isAdmin(userModel.getLoggedUser())}">
			            			<f:facet name="output">
										<h:outputText value="#{projectModel.currentProject.startDate}">
											<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
										</h:outputText>
									</f:facet>
									<f:facet name="input">
										<p:ajax event="save" listener="#{projectController.save()}" update="@form" />
										<p:calendar id="start" value="#{projectModel.currentProject.startDate}" pattern="yyyy-MM-dd HH:mm" required="true" style="width:50px;"
											requiredMessage="Start date cannot be empty.">
											<f:validator binding="#{projectDatesValidator}" />
										</p:calendar>
									</f:facet>
								</p:inplace>
								<h:outputText value="End date:" styleClass="label labelBold"/>
								<h:outputText value="#{projectModel.currentProject.finishDate}"
									rendered="#{not projectController.isManager(userModel.getLoggedUser()) and not userController.isAdmin(userModel.getLoggedUser())}">>
									<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
								</h:outputText>
								<p:inplace editor="true"
									rendered="#{projectController.isManager(userModel.getLoggedUser()) or userController.isAdmin(userModel.getLoggedUser())}">
			            			<f:facet name="output">
										<h:outputText value="#{projectModel.currentProject.finishDate}">
											<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
										</h:outputText>
									</f:facet>
									<f:facet name="input">
										<p:ajax event="save" listener="#{projectController.save()}" update="@form" />
										<p:calendar id="finish" value="#{projectModel.currentProject.finishDate}" pattern="yyyy-MM-dd HH:mm" required="true" style="width:50px;"
											requiredMessage="Start date cannot be empty.">
											<f:validator binding="#{projectDatesValidator}" />
										</p:calendar>
									</f:facet>
								</p:inplace>
							</h:panelGrid>
						</p:fieldset>
					</div>
					<div class="contentItem">
						<p:fieldset legend="People" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
							<h:panelGrid columns="1" cellpadding="5" style="width: 100%;">
								<h:outputText value="Manager:" styleClass="label labelBold"/>
								<h:outputText value="#{userController.getFullName(projectModel.currentProject.projectManager)}"/>
								<p:outputLabel value="Assignees:" for="projectWorkers" styleClass="label labelBold"/>
								<p:autoComplete id="projectWorkers" multiple="true"
									value="#{projectModel.currentProject.users}"
									completeMethod="#{userController.autoCompleteWithoutDuplicates}"
									var="user" itemLabel="#{user.showFullName()}"
									itemValue="#{user}" converter="#{userConverter}" 
									forceSelection="true" minQueryLength="2" maxResults="5" maxlength="255" 
									emptyMessage="No matches" placeholder="Enter name"
									style="width: 100%;" styleClass="borderless inputfield-underlined expanded-width"
									inputStyle="background-color: red;"
									rendered="#{projectModel.currentProject.projectManager.id eq userModel.getLoggedUser().id}">
									<p:column>
										<h:outputText value="#{user.showFullName()}" />
									</p:column>
									<p:ajax event="itemSelect" listener="#{projectController.save()}" />
			          				<p:ajax event="itemUnselect" listener="#{projectController.onUserUnselect}" />
								</p:autoComplete>
								<p:dataList value="#{projectModel.currentProject.users}"
											rendered="#{projectModel.currentProject.projectManager.id ne userModel.getLoggedUser().id}" 
											emptyMessage="No people assigned to this project." var="user" type="ordered"
											styleClass="borderless">
				        			<h:outputText value="#{user.showFullName()}" />
				    			</p:dataList>
							</h:panelGrid>
							
						</p:fieldset>
					</div>
				</div>
				
				<div class="contentBlock">
				<p:fieldset legend="Backlog" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
					<p:dataTable id="backlogTable" widgetVar="backlogTable" var="task" 
								value="#{cachedTask.getTasksNotInSprint(projectModel.currentProject)}"
								rows="10" selectionMode="single" selection="#{task}" rowKey="#{task.id}"
								styleClass="ui-datatable-wrapped">
								<p:ajax event="rowSelect" listener="#{taskController.onRowSelect}" />
    							<f:facet name="header">
				        			<span style="width: 100%;">Backlog</span>
				        			<span style="position: absolute; right: 30px; padding-right: 2%;">
										<h:commandLink title="Export full project backlog.">
											<p:graphicImage name="img/csv.png" width="30" height="30" />
											<p:fileDownload value="#{projectController.getBacklogCsvFile()}" />
										</h:commandLink>
									</span>
								</f:facet>

								<p:column headerText="Id" sortBy="#{task.id}" style="width: 100px;">
									<h:outputText value="#{task.id}" />
								</p:column>
								
								<p:column headerText="Title" filterBy="#{task.title}" filterMatchMode="contains" sortBy="#{task.title}" style="min-width: 150px;">
									<h:outputText value="#{task.title}"/>
								</p:column>

								<p:column headerText="Status" style="width:120px;" filterBy="#{task.taskStatus.value}" filterMatchMode="exact" sortBy="#{task.taskStatus.value}">
									<f:facet name="filter">
										<p:selectOneMenu label="Select" onchange="PF('backlogTable').filter()">
											<f:selectItem itemLabel="Select" itemValue="#{null}" noSelectionOption="true"/>
											<f:selectItems value="#{taskController.taskStatuses}"
												var="status" itemValue="#{status.value}"
												itemLabel="#{status.value}" />
										</p:selectOneMenu>
									</f:facet>
									<h:outputText value="#{task.taskStatus.value}"/>
								</p:column>
								
								<p:column headerText="Assignee" sortBy="#{task.assignee.showFullName()}" filterBy="#{task.assignee.showFullName()}" filterMatchMode="contains">
									<h:outputText value="#{task.assignee.showFullName()}" styleClass="#{task.assignee.active ? '' : (userModel.getLoggedUser().id == task.project.projectManager.id ? (task.taskStatus.value != 'Done' ? 'redText' : '') : '')}" />
								</p:column>

								<p:column headerText="SP" style="width:45px;" sortBy="#{task.storyPoints}">
									<h:outputText value="#{task.storyPoints}" />
								</p:column>

								<p:column headerText="Created" sortBy="#{task.creationDate}" sortMode="multiple" 
									filterBy="#{task.creationDate}" filterFunction="#{dateFilterBean.filterByDate}"
									style="width: 150px;">
									<f:facet name="filter">
										<h:inputHidden id="filter4" />
									</f:facet>
									<f:facet name="header">
										<p:outputLabel value="Created" />
										<br />
										<p:calendar id="from4" pattern="yyyy-MM-dd"
											onchange="$(PrimeFaces.escapeClientId('#{p:component('filter4')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from4')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to4')}_input'))[0].value"
											onblur="PF('backlogTable').filter()">
											<p:ajax event="dateSelect"
												onstart="$(PrimeFaces.escapeClientId('#{p:component('filter4')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from4')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to4')}_input'))[0].value"
												oncomplete="PF('backlogTable').filter()" />
										</p:calendar>

										<p:calendar id="to4" pattern="yyyy-MM-dd"
											onchange="$(PrimeFaces.escapeClientId('#{p:component('filter4')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from4')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to4')}_input'))[0].value"
											onblur="PF('backlogTable').filter()">
											<p:ajax event="dateSelect"
												onstart="$(PrimeFaces.escapeClientId('#{p:component('filter4')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from4')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to4')}_input'))[0].value"
												oncomplete="PF('backlogTable').filter()" />
										</p:calendar>
									</f:facet>
									<h:outputText value="#{task.creationDate}">
										<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
									</h:outputText>
								</p:column>
								
								<p:column style="width: 150px;">
									<div style="display: flex; justify-content: center">
										<p:commandButton value="Add to sprint"
											actionListener="#{taskController.update(task)}"
											process="@this" update="addToSprintForm"
											oncomplete="PF('addToSprintDlg').show();" />
									</div>
								</p:column>

								<p:ajax event="sort" oncomplete="PF('backlogTable').unselectAllRows()"/>
								<p:ajax event="filter" oncomplete="PF('backlogTable').unselectAllRows()"/>
								
								<f:facet name="footer">
									<span></span>
									<p:commandButton value="Full project backlog" 
										action="backlog" styleClass="green accent-4" 
										rendered="#{taskController.findNotInSprint(projectModel.currentProject).size() gt 10}"/>
								</f:facet>
							</p:dataTable>

							<p:commandLink id="createBacklogTaskButton" actionListener="#{taskController.create()}"
								update="taskForm" 
								oncomplete="PF('taskDlg').show();"
								styleClass="attachedButton btn-floating red">
								<i class="fa fa-plus"></i>
							</p:commandLink>
							<p:tooltip for="createBacklogTaskButton" value="Create new task" showDelay="1000"></p:tooltip>
							
				</p:fieldset>
				</div>
				
				<div class="contentBlock">
					<p:fieldset legend="Project Tasks" toggleable="true" toggleSpeed="500" styleClass="customFieldset">
						<p:dataTable id="tasksTable" widgetVar="tasksTable" var="task" 
								value="#{cachedTask.getProjectTasks(projectModel.currentProject)}"
								rows="10" selectionMode="single" selection="#{task}" rowKey="#{task.id}"
								styleClass="ui-datatable-wrapped">
								<p:ajax event="rowSelect" listener="#{taskController.onRowSelect}" />
    							<f:facet name="header">
				        			<span style="width: 100%;">Project Tasks</span>
				        			<span style="position: absolute; right: 30px; padding-right: 2%;">
										<h:commandLink title="Export all project tasks.">
											<p:graphicImage name="img/csv.png" width="30" height="30" />
											<p:fileDownload value="#{projectController.getProjectTasksCsvFile()}" />
										</h:commandLink>
									</span>
								</f:facet>

								<p:column headerText="Id" sortBy="#{task.id}">
									<h:outputText value="#{task.id}" />
								</p:column>
								
								<p:column headerText="Title" filterBy="#{task.title}" filterMatchMode="contains" sortBy="#{task.title}">
									<h:outputText value="#{task.title}"/>
								</p:column>

								<p:column headerText="Status" style="width:120px;" filterBy="#{task.taskStatus.value}" filterMatchMode="exact" sortBy="#{task.taskStatus.value}">
									<f:facet name="filter">
										<p:selectOneMenu label="Select" onchange="PF('tasksTable').filter()">
											<f:selectItem itemLabel="Select" itemValue="#{null}" noSelectionOption="true"/>
											<f:selectItems value="#{taskController.taskStatuses}"
												var="status" itemValue="#{status.value}"
												itemLabel="#{status.value}" />
										</p:selectOneMenu>
									</f:facet>
									<h:outputText value="#{task.taskStatus.value}"/>
								</p:column>
								
								<p:column headerText="Assignee" sortBy="#{task.assignee.showFullName()}" filterBy="#{task.assignee.showFullName()}" filterMatchMode="contains">
									<h:outputText value="#{task.assignee.showFullName()}" styleClass="#{task.assignee.active ? '' : (userModel.getLoggedUser().id == task.project.projectManager.id ? (task.taskStatus.value != 'Done' ? 'redText' : '') : '')}" />
								</p:column>
								
								<p:column headerText="Sprint" filterBy="#{task.sprint.title}" filterMatchMode="exact" sortBy="#{task.sprint.title}">
									<f:facet name="filter">
										<p:selectOneMenu onchange="PF('tasksTable').filter()">
											<f:selectItem itemLabel="Select" itemValue="#{null}" noSelectionOption="true"/>
											<f:selectItems value="#{sprintController.findByProject(projectModel.currentProject)}"
												var="sprint" itemValue="#{sprint.title}" itemLabel="#{sprint.title}"/>
										</p:selectOneMenu>
									</f:facet>
									<h:outputText value="#{task.sprint.title}"/>
								</p:column>

								<p:column headerText="SP" style="width:45px;" sortBy="#{task.storyPoints}">
									<h:outputText value="#{task.storyPoints}" />
								</p:column>

								<p:column headerText="Created" sortBy="#{task.creationDate}" sortMode="multiple" 
									filterBy="#{task.creationDate}" filterFunction="#{dateFilterBean.filterByDate}">
									<f:facet name="filter">
										<h:inputHidden id="filter" />
									</f:facet>
									<f:facet name="header">
										<p:outputLabel value="Created" />
										<br />
										<p:calendar id="from" pattern="yyyy-MM-dd"
											onchange="$(PrimeFaces.escapeClientId('#{p:component('filter')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
											onblur="PF('tasksTable').filter()">
											<p:ajax event="dateSelect"
												onstart="$(PrimeFaces.escapeClientId('#{p:component('filter')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
												oncomplete="PF('tasksTable').filter()" />
										</p:calendar>

										<p:calendar id="to" pattern="yyyy-MM-dd"
											onchange="$(PrimeFaces.escapeClientId('#{p:component('filter')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
											onblur="PF('tasksTable').filter()">
											<p:ajax event="dateSelect"
												onstart="$(PrimeFaces.escapeClientId('#{p:component('filter')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to')}_input'))[0].value"
												oncomplete="PF('tasksTable').filter()" />
										</p:calendar>
									</f:facet>
									<h:outputText value="#{task.creationDate}">
										<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
									</h:outputText>
								</p:column>

								<p:column headerText="Updated" sortBy="#{task.updateDate}" sortMode="multiple" filterBy="#{task.updateDate}"
									filterFunction="#{dateFilterBean.filterByDate}">
									<f:facet name="filter">
										<h:inputHidden id="filter3" />
									</f:facet>
									<f:facet name="header">
										<p:outputLabel value="Updated" />
										<br />
										<p:calendar id="from3" pattern="yyyy-MM-dd"
											onchange="$(PrimeFaces.escapeClientId('#{p:component('filter3')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from3')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to3')}_input'))[0].value"
											onblur="PF('tasksTable').filter()">
											<p:ajax event="dateSelect"
												onstart="$(PrimeFaces.escapeClientId('#{p:component('filter3')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from3')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to3')}_input'))[0].value"
												oncomplete="PF('tasksTable').filter()" />
										</p:calendar>
										<p:calendar id="to3" pattern="yyyy-MM-dd"
											onchange="$(PrimeFaces.escapeClientId('#{p:component('filter3')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from3')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to3')}_input'))[0].value"
											onblur="PF('tasksTable').filter()">
											<p:ajax event="dateSelect"
												onstart="$(PrimeFaces.escapeClientId('#{p:component('filter3')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from3')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to3')}_input'))[0].value"
												oncomplete="PF('tasksTable').filter()" />
										</p:calendar>
									</f:facet>
									<h:outputText value="#{task.updateDate}">
										<f:convertDateTime pattern="yyyy-MM-dd" />
									</h:outputText>
								</p:column>

								<p:column headerText="Completed" sortBy="#{task.completeDate}"
									sortMode="multiple" filterBy="#{task.completeDate}"
									filterFunction="#{dateFilterBean.filterByDate}">
									<f:facet name="filter">
										<h:inputHidden id="filter2" />
									</f:facet>
									<f:facet name="header">
										<p:outputLabel value="Completed" />
										<br />
										<p:calendar id="from2" pattern="yyyy-MM-dd"
											onchange="$(PrimeFaces.escapeClientId('#{p:component('filter2')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from2')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to2')}_input'))[0].value"
											onblur="PF('tasksTable').filter()">
											<p:ajax event="dateSelect"
												onstart="$(PrimeFaces.escapeClientId('#{p:component('filter2')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from2')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to2')}_input'))[0].value"
												oncomplete="PF('tasksTable').filter()" />
										</p:calendar>
										<p:calendar id="to2" pattern="yyyy-MM-dd"
											onchange="$(PrimeFaces.escapeClientId('#{p:component('filter2')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from2')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to2')}_input'))[0].value"
											onblur="PF('tasksTable').filter()">
											<p:ajax event="dateSelect"
												onstart="$(PrimeFaces.escapeClientId('#{p:component('filter2')}'))[0].value = $(PrimeFaces.escapeClientId('#{p:component('from2')}_input'))[0].value + ':' + $(PrimeFaces.escapeClientId('#{p:component('to2')}_input'))[0].value"
												oncomplete="PF('tasksTable').filter()" />
										</p:calendar>
									</f:facet>
									<h:outputText value="#{task.completeDate}">
										<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
									</h:outputText>
								</p:column>

								<p:ajax event="sort" oncomplete="PF('tasksTable').unselectAllRows()"/>
								<p:ajax event="filter" oncomplete="PF('tasksTable').unselectAllRows()"/>
								
								<f:facet name="footer">
									<span></span>
									<p:commandButton value="Browse All Tasks" 
										action="allTasks" styleClass="green accent-4" 
										rendered="#{projectController.countTasks() gt 10}"/>
								</f:facet>
							</p:dataTable>

							<p:commandLink id="createTaskButton" actionListener="#{taskController.create()}"
								update="taskForm" 
								oncomplete="PF('taskDlg').show();"
								styleClass="attachedButton btn-floating red">
								<i class="fa fa-plus"></i>
							</p:commandLink>
							<p:tooltip for="createTaskButton" value="Create new task" showDelay="1000"></p:tooltip>
							
							<h:panelGroup styleClass="search">
								<p:outputLabel for="searchDesc" value="Search by description:" />
								<p:inputText id="searchDesc" placeholder="Enter fragment" binding="#{fragment}" />
								<p:commandButton value="Search" action="#{taskController.searchTasksByFragment(fragment.value)}" />
							</h:panelGroup>
					</p:fieldset>
				</div>
			</div>
		</h:form>
		
		<div id="dialogWindows">
			<h:form id="descriptionEditorForm">
				<p:dialog id="myDial" header="Description" widgetVar="descriptionDlg" modal="true" draggable="false" closable="false" resizable="false" position="center" width="70%" height="305px">   
					<p:editor widgetVar="editorWidget" value="#{projectModel.currentProject.description}" height="300"/>
					<f:facet name="footer">
						<p:commandLink value="Save" actionListener="#{projectController.save()}"
							oncomplete="if (args &amp;&amp; !args.validationFailed) PF('descriptionDlg').hide();"
							update=":projectView" />
						<p:commandLink value="Cancel" onclick="PF('descriptionDlg').hide();" immediate="true" />
					</f:facet>
				</p:dialog>
			</h:form>
			
			<ui:include src="add_sprint.xhtml"/>
			<ui:include src="add_task.xhtml"/>
			<ui:include src="suspended_tasks_dialog.xhtml"/>
			<ui:include src="add_to_sprint.xhtml"></ui:include>
		</div>
	</c:if>
	<c:if test="#{projectController.displayPage() eq false}">
		<ui:include src="access_denied.xhtml"></ui:include>
	</c:if>	
		
	</ui:define>
	
</ui:composition>