<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="content">
		<f:metadata>
			<f:viewParam name="id" value="#{taskModel.id}"></f:viewParam>
			<f:event type="preRenderView" listener="#{taskController.loadTask()}" />
		</f:metadata>
	<h:panelGroup rendered="#{taskController.displayPage() eq true}">
		<h:outputScript library="js" name="sticky.js" target="head" />
		<div id="stickyAnchor"></div>
		<div class="contentHeader smoothTransition stickyElement">
			<h:form id="contentHeaderForm">
				<p:commandLink rendered="#{taskController.displayItemToAuthorisedUser() eq true}" value="#{taskModel.currentTask.project.title}" action="#{projectController.overview(taskModel.currentTask.project)}" />
				<h:outputText value=" / " rendered="#{taskController.displayItemToAuthorisedUser() eq true}"></h:outputText>
				<p:commandLink value="#{taskModel.currentTask.sprint.title}" action="#{sprintController.overview(taskModel.currentTask.sprint)}" rendered="#{not empty taskModel.currentTask.sprint and taskController.displayItemToAuthorisedUser() eq true}" />
				<h:outputText value=" / " rendered="#{not empty taskModel.currentTask.sprint}" />
				<p:commandLink value="TASK ID #{taskModel.currentTask.id}" action="#{taskController.overview(taskModel.currentTask)}" />
           		<h1>
	                <p:inplace id="title" editor="true" disabled="#{taskController.displayItemToAuthorisedUser() eq false}">
	                    <p:ajax event="save" listener="#{taskController.save()}"/>
	                    <p:inputText value="#{taskModel.currentTask.title}" required="true"
	                    	requiredMessage="Task title cannot be empty."/>
	                </p:inplace>
	            </h1>
    	  	</h:form>
		</div>

		<div class="contentToolBar AfterStickyElement">
			<h:form id="contentToolBarForm">
				<p:messages id="messages" showDetail="true" autoUpdate="true" />
				<p:selectOneButton value="#{taskModel.currentTask.taskStatus}" disabled="#{taskController.displayItemToAuthorisedUser() eq false}">
					<p:ajax event="change" listener="#{taskController.changeStatus()}"
						update=":datesInfo :detailForm:taskStatus :peopleInfo" />
					<f:selectItem itemLabel="To Do" itemValue="TODO" itemDisabled="#{taskController.displayItemToAuthorisedUser() eq false}" />
					<f:selectItem itemLabel="In Progress" itemValue="INPROGRESS" itemDisabled="#{taskController.displayItemToAuthorisedUser() eq false}" />
					<f:selectItem itemLabel="Done" itemValue="DONE" itemDisabled="#{taskController.displayItemToAuthorisedUser() eq false}"/>
				</p:selectOneButton>

				<p:commandButton value="Comment"
					actionListener="#{commentController.create()}" update="commentForm"
					oncomplete="PF('commentDlg').show();" icon="fa fa-comment" />

				<p:commandButton value="Upload file" update=":uploadForm" disabled="#{taskController.displayItemToAuthorisedUser() eq false}"
					oncomplete="PF('uploadDlg').show();" icon="fa fa-cloud-upload" />
			</h:form>
		</div>

		<div class="contentBody">
			<div class="contentMainColumn contentColumn">
				<div class="contentItem">
					<p:fieldset legend="Details" toggleable="true" toggleSpeed="500"
						styleClass="customFieldset">
						<h:form id="detailForm">
							<div class="column">
								<ul>
									<li>
										<p:outputLabel value="Status: " for="taskStatus" styleClass="label labelBold" />
										<div>
											<h:outputText id="taskStatus" value="#{taskModel.currentTask.taskStatus.value}"
												styleClass="#{taskController.getStatusStyle(taskModel.currentTask.taskStatus)}" />
										</div>
									</li>
								</ul>
							</div>
							<div class="column">
								<ul>
									<li>
										<p:outputLabel value="Story points: " for="storyPoints" styleClass="label labelBold" />
										<p:inplace editor="true" style="width:60%">
											<p:spinner id="storyPoints" value="#{taskModel.currentTask.storyPoints}" min="0" size="5"/>
											<p:ajax event="save" listener="#{taskController.save()}" />
										</p:inplace>
									</li>
								</ul>
							</div>
							<p:outputLabel for="sprintAutoComplete" value="Sprint: "
								styleClass="label labelBold" style="display: inline-block; width: 20%;"/>
							<p:inplace editor="true" styleClass="editorAutocompleteWithDropdown" disabled="#{taskController.displayItemToAuthorisedUser() eq false}">
								<f:facet name="output">
									<h:outputText value="#{taskModel.currentTask.sprint.title}"
										rendered="#{not empty taskModel.currentTask.sprint}"/>
									<h:outputText value="Unassigned"
										rendered="#{empty taskModel.currentTask.sprint}" />
								</f:facet>
								<f:facet name="input">
									<p:autoComplete id="sprintAutoComplete" dropdown="true"
										value="#{taskModel.currentTask.sprint}"
										completeMethod="#{sprintController.autoComplete}" var="sprint"
										itemLabel="#{sprint.title}" itemValue="#{sprint}"
										converter="#{sprintConverter}" title="This field is optional."
										placeholder="Unassigned" emptyMessage="No matches"
										minQueryLength="2" forceSelection="true" maxlength="255"
										styleClass="autocompleteFixedWidth" />
								</f:facet>
								<p:ajax event="save" listener="#{taskController.save()}"
									update=":contentHeaderForm" />
							</p:inplace>
						</h:form>
					</p:fieldset>
				</div>
				<div class="contentItem">
					<p:fieldset legend="Description" toggleable="true"
						toggleSpeed="500" styleClass="customFieldset">
						<h:form id="descriptionOutputForm">
							<h:outputLabel styleClass="wordBreak"
								value="#{taskModel.currentTask.description}" escape="false" />
							<br />
							<br />
							<div align="right">
								<p:commandLink id="editDescriptionButton" oncomplete="PF('descriptionDlg').show();" disabled="#{taskController.displayItemToAuthorisedUser() eq false}"
									update="descriptionEditorForm" styleClass="btn-floating">
									<i class="fa fa-pencil"></i>
								</p:commandLink>
								<p:tooltip for="editDescriptionButton" value="Edit description" showDelay="1000"></p:tooltip>
							</div>
						</h:form>
					</p:fieldset>
				</div>
				<div class="contentItem">
					<p:fieldset legend="Attachments" toggleable="true"
						toggleSpeed="500" styleClass="customFieldset">
						<ui:include src="attachments.xhtml" />
					</p:fieldset>
				</div>
				<div class="contentItem">
					<p:fieldset legend="Comments" toggleable="true" toggleSpeed="500"
						styleClass="customFieldset">
						<h:form id="commentsForm">
							<p:poll interval="3" update="commentsForm" />
							<p:dataList
								value="#{cachedComment.getComments(taskModel.currentTask)}"
								var="comm" type="unordered" itemType="none" paginator="true"
								rows="5" styleClass="commentList">
								<div class="comment-header">
									<p:commandLink title="Delete comment"
										actionListener="#{commentController.delete(comm)}"
										process="@this" update="commentsForm"
										rendered="#{commentController.showDeleteButton(comm)}"
										styleClass="fa fa-trash"
										style="float:right; text-decoration: none;" />
									<h:outputText value="#{comm.user.showFullName()}" styleClass="label labelBold"/>
									<br />
									<h:outputText value="#{comm.commentDate}">
										<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
									</h:outputText>
								</div>
								<div class="comment-text">
									<h:outputText styleClass="wordBreak" value="#{comm.comment}" />
								</div>
								<p:separator></p:separator>
							</p:dataList>
							<p:commandLink id="createNewComment" actionListener="#{commentController.create()}"
								update="commentForm" oncomplete="PF('commentDlg').show();"
								styleClass="attachedButton btn-floating red">
								<i class="fa fa-comment"></i>
							</p:commandLink>
							<p:tooltip for="createNewComment" value="Add new comment" showDelay="1000"></p:tooltip>
						</h:form>
					</p:fieldset>
				</div>
			</div>
			<div class="contentSideColumn contentColumn">
				<div class="contentItem">
					<p:fieldset legend="Dates" toggleable="true" toggleSpeed="500"
						styleClass="customFieldset">
						<h:panelGrid id="datesInfo" columns="2" cellpadding="5"
							columnClasses="panelLabels">
							Created: 
							<h:outputText value="#{taskModel.currentTask.creationDate}">
								<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
							</h:outputText>
							Updated: 
							<h:outputText value="#{taskModel.currentTask.updateDate}">
								<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
							</h:outputText>
							<c:if test="#{not empty taskModel.currentTask.startDate}">
    							Started: 
								<h:outputText value="#{taskModel.currentTask.startDate}">
									<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
								</h:outputText>
							</c:if>
							<c:if test="#{not empty taskModel.currentTask.completeDate}">
    							Completed: 
								<h:outputText value="#{taskModel.currentTask.completeDate}">
									<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
								</h:outputText>
							</c:if>
						</h:panelGrid>
					</p:fieldset>
				</div>
				<div class="contentItem">
					<p:fieldset legend="People" toggleable="true" toggleSpeed="500"
						styleClass="customFieldset">
						<h:panelGrid columns="2" cellpadding="5"
							columnClasses="panelLabels" id="peopleInfo">
							<p:outputLabel for="assigneeForm:assigneeAutoComplete" value="Assignee:" />
							<h:form id="assigneeForm">
								<p:inplace editor="true" styleClass="editorUnder" disabled="#{taskController.displayItemToAuthorisedUser() eq false}">
									<f:facet name="output">
										<h:outputText value="#{taskModel.currentTask.assignee.showFullName()}"
											styleClass="#{taskModel.currentTask.assignee.active ? '' : (userModel.getLoggedUser().id == taskModel.currentTask.project.projectManager.id ? (taskModel.currentTask.taskStatus.value != 'Done' ? 'redText' : '') : '') }"
											rendered="#{not empty taskModel.currentTask.assignee}" />
										<h:outputText value="Unassigned"
											rendered="#{empty taskModel.currentTask.assignee}" />
									</f:facet>
									<f:facet name="input">
										<p:autoComplete id="assigneeAutoComplete"
											value="#{taskModel.currentTask.assignee}"
											completeMethod="#{userController.autoCompleteByProject}"
											var="user" itemLabel="#{user.showFullName()}"
											itemValue="#{user}" converter="#{userConverter}"
											emptyMessage="No matches" forceSelection="true"
											minQueryLength="2" placeholder="Unassigned">
											<p:ajax event="itemSelect" listener="#{taskController.save()}"
												update=":datesInfo" />
										</p:autoComplete>
									</f:facet>	
								</p:inplace>
							</h:form>
							<p:outputLabel value="Created by: " for="taskCreatorField" />
							<h:outputText id="taskCreatorField"
								value="#{userController.getFullName(taskModel.currentTask.creator)}" />
							<p:outputLabel value="Completed by: " for="completedByField" rendered="#{not empty taskModel.currentTask.completedBy}"/>
							<h:outputText id="completedByField" rendered="#{not empty taskModel.currentTask.completedBy}"
									value="#{userController.getFullName(taskModel.currentTask.completedBy)}"/>			
						</h:panelGrid>
					</p:fieldset>
				</div>
			</div>
		</div>

		<div id="dialogWindows">

			<h:form id="descriptionEditorForm">
				<p:dialog header="Description" widgetVar="descriptionDlg"
					modal="true" draggable="false" position="center" resizable="false" closable="false"
					width="70%" height="300px">
					<p:editor widgetVar="editorWidget"
						value="#{taskModel.currentTask.description}" height="300"
						maxlength="2000" />
					<f:facet name="footer">
						<p:commandLink value="Save"
							actionListener="#{taskController.save()}"
							update="descriptionOutputForm"
							oncomplete="if (args &amp;&amp; !args.validationFailed) PF('descriptionDlg').hide();" />
						<p:commandLink value="Cancel"
							onclick="PF('descriptionDlg').hide();" immediate="true" />
					</f:facet>
				</p:dialog>
			</h:form>

			<ui:include src="add_comment.xhtml" />
			<ui:include src="add_attachment.xhtml" />
		</div>	
	</h:panelGroup>
	<h:panelGroup rendered="#{taskController.displayPage() eq false}">
		<ui:include src="access_denied.xhtml"></ui:include>
	</h:panelGroup>
	
	</ui:define>
</ui:composition>