/*! jQuery UI - v1.10.4 - 2016-02-26
* http://jqueryui.com
* Includes: jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Roboto%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=2px&bgColorHeader=%23e1f5fe&bgTextureHeader=flat&borderColorHeader=%23dddddd&fcHeader=%23333333&iconColorHeader=%23444444&bgColorContent=%23ffffff&bgTextureContent=flat&borderColorContent=%23dddddd&fcContent=%23333333&iconColorContent=%23444444&bgColorDefault=%2301579b&bgTextureDefault=flat&borderColorDefault=%2301579b&fcDefault=%23ffffff&iconColorDefault=%23ffffff&bgColorHover=%230277bd&bgTextureHover=flat&borderColorHover=%230277bd&fcHover=%23ffffff&iconColorHover=%23ffffff&bgColorActive=%230091ea&bgTextureActive=flat&borderColorActive=%230091ea&fcActive=%23ffffff&iconColorActive=%23ffffff&bgColorHighlight=%23fffa90&bgTextureHighlight=flat&borderColorHighlight=%23dad55e&fcHighlight=%23777620&iconColorHighlight=%23777620&bgColorError=%23fddfdf&bgTextureError=flat&borderColorError=%23f1a899&fcError=%235f3f3f&iconColorError=%23cc0000&bgColorOverlay=%23001424&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=50&bgColorShadow=%23666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px&bgImgOpacityHeader=&bgImgOpacityContent=&bgImgOpacityDefault=&bgImgOpacityHover=0&bgImgOpacityActive=&bgImgOpacityHighlight=&bgImgOpacityError=
* Copyright jQuery Foundation and other contributors; Licensed MIT */


/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Roboto,sans-serif;
	font-size: 10pt;
}
.ui-widget .ui-widget {
	font-size: 10pt;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Roboto,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: #e1f5fe;
	color: #333333;
	font-weight: bold;
}
.ui-widget-header a {
	color: #333333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #01579b;
	background: #01579b;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #0277bd;
	background: #0277bd;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #0091ea;
	background: #0091ea;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	background-color: #dae8ef;
    border: solid 1px #c1d5df;
    color: #546e7a;
	transition: all 0.5s ease;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #546e7a;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #f1a899;
	background: #fddfdf;
	color: #5f3f3f;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #5f3f3f;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #5f3f3f;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_444444_256x240.png']}");
}
.ui-widget-header .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_444444_256x240.png']}");
}
.ui-state-default .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_ffffff_256x240.png']}");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_ffffff_256x240.png']}");
}
.ui-state-active .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_ffffff_256x240.png']}");
}
.ui-state-highlight .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_777620_256x240.png']}");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_cc0000_256x240.png']}");
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 1px -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 2px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 2px;
}

/* Overlays */
.ui-widget-overlay {
	background: #001424;
	opacity: .5;
	filter: Alpha(Opacity=50);
}

.ui-widget-shadow {
	margin: 0px 0 0 0px;
	padding: 5px;
	background: #666666;
	opacity: .3;
	filter: Alpha(Opacity=30);
	border-radius: 8px;
}

/** Input fields **/

.ui-inputfield,
.ui-state-default .ui-inputfield,
.ui-widget-header .ui-inputfield, 
.ui-widget-content .ui-inputfield,
.ui-widget-content .ui-state-default .ui-inputfield,
.ui-widget-header .ui-state-default .ui-inputfield {
	background-color: #ffffff;
	color: #333333;
}

/** Table style **/
.ui-datatable {
	border: none;
	border-radius: 1px;
}

.ui-paginator-top,
.ui-paginator-bottom {
    background-color: #0277bd;
    border-radius: 1px;
    border: none;
    color: #ffffff;
    font-weight: normal;
}

.ui-datatable .ui-datagrid-header, 
.ui-datatable .ui-datatable-header,  
.ui-datatable .ui-datatable-summaryrow, 
.ui-datatable .ui-datatable-footer {
	color: #ffffff;
    background-color: #0288d1;
    font-size: 20px;
    padding: 15px 10px !important;
    font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 1px;
}

.ui-datatable table thead tr th.ui-state-default,
.ui-datatable table tfoot tr td.ui-state-default {
	color: #ffffff;
	background-color: #0288d1;
    border: solid 1px #0277bd;
    outline: none;
    padding: 10px;
    font-family: 'Roboto';
  	font-style: normal;
  	font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.ui-datatable .ui-datatable-odd {
	background-color: #eef2f7;

}
.ui-datatable .ui-datatable-even {
	background-color: #ffffff;
}

.ui-datatable tr.ui-state-hover,
.ui-datatable table thead tr th.ui-state-hover,
.ui-datatable-wrapped.ui-datatable table thead tr th.ui-state-default.ui-state-hover {
	background-color: #c1d5df;
	color: inherit;
	transition: all 0.5s ease;
}

.ui-datatable .ui-filter-column .ui-inputfield {
	width: 90%;
}

.ui-datatable .ui-filter-column .ui-column-customfilter {
	width: 100%;
}

.ui-datatable .ui-sortable-column .ui-sortable-column-icon {
	background-image: url("/jura/javax.faces.resource/images/ui-icons_444444_256x240.png.xhtml?ln=primefaces-juratheme");
}

/* Basic table */
.ui-datatable-tablewrapper {
	padding: 0px;
	border: none;
}

/* Wrapped table */
.ui-datatable-wrapped .ui-datatable-tablewrapper {
	padding: 10px;
	border: solid 1px #e0e0e0;
}

.ui-datatable-wrapped.ui-datatable table thead tr th.ui-state-default,
.ui-datatable-wrapped.ui-datatable table tfoot tr td.ui-state-default {
	background-color: #dae8ef;
    border: solid 1px #c1d5df;
    color: #546e7a;
}

/** Shadows **/

.z-depth-1, .ui-button, .btn, .btn-floating {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .ui-button:hover, .btn:hover, .btn-floating:hover, .btn-floating.btn-large,
.ui-autocomplete-panel.ui-shadow {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2, .btn-floating.btn-large:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4, .ui-dialog.ui-shadow {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/** Buttons **/
.ui-button,
.btn, 
.ui-dialog .ui-dialog-footer .ui-commandlink {
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	outline: 0;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	transition: all .2s ease-out;;
	transition-timing-function: cubic-bezier(.55, 0, .1, 1);
}

.ui-button, .ui-button.ui-state-default,
.btn, .btn-floating {
	background-color: #0091ea;
	border: none;
}

.ui-selectonebutton.ui-buttonset .ui-button {
	margin-left: 5px;
}

.ui-button.ui-state-disabled,
.btn-floating.ui-state-disabled {
	background-color: #DFDFDF !important;
	box-shadow: none;
	color: #9F9F9F !important;
	cursor: default;
}

.ui-button.ui-state-disabled *,
.btn-floating.ui-state-disabled * {
	pointer-events: none;
	color: #9F9F9F;
}

.ui-button.ui-state-disabled:hover,
.btn-floating.ui-state-disabled:hover {
	background-color: #DFDFDF;
	color: #9F9F9F;
}

.ui-button .ui-button-text,
.ui-button .ui-button-text.ui-c,
.ui-buttonset .ui-button .ui-button-text {
	display: inline-block;
	vertical-align: middle;
	padding-top: 0;
	padding-bottom: 0;
}

.ui-fileupload-buttonbar .ui-button .ui-button-text {
	display: inline-block;
}

.ui-dialog .ui-dialog-footer .ui-commandlink {
	box-shadow: none;
	background-color: transparent;
	color: #343434;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	padding: 0 0.5rem;
}

.ui-inplace-editor .ui-button {
	height: 20px;
}

.ui-autocomplete .ui-autocomplete-dropdown {
	width: 25px !important;
}

.ui-button.ui-button-icon-only {
	width: 36px;
}

.btn-floating {
	display: inline-block;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 37px;
	height: 37px;
	line-height: 37px;
	padding: 0;
	border-radius: 50%;
	transition: .3s;
	cursor: pointer;
	vertical-align: middle;
}

a.btn-floating {
	text-decoration: none;
}

.btn i, .btn-floating i {
  line-height: inherit;
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1em;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 55.5px;
  height: 55.5px;
  line-height: 55.5px;
}

.btn-floating.btn-large i {
	font-size: 1.6em;
}

/** Dialog Windows **/
.ui-dialog {
	border: none;
	border-radius: 0px;
}

.ui-dialog .ui-dialog-titlebar {
	height: 25px;
	background-color: #03a9f4;
	border-radius: 0px;
	color: #ffffff;
	font-size: 16px;
}

.ui-dialog .ui-dialog-titlebar .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_ffffff_256x240.png']}");
}

.ui-dialog .ui-dialog-footer .ui-commandlink:hover {
	color: #0288d1;
}

/** Colors **/
.light-blue.lighten-5 {
  background-color: #e1f5fe !important;
}

.light-blue.lighten-4 {
  background-color: #b3e5fc !important;
}

.light-blue.lighten-3 {
  background-color: #81d4fa !important;
}

.light-blue.lighten-2 {
  background-color: #4fc3f7 !important;
}

.light-blue.lighten-1 {
  background-color: #29b6f6 !important;
}

.light-blue {
  background-color: #03a9f4 !important;
}

.light-blue.darken-1 {
  background-color: #039be5 !important;
}

.light-blue.darken-2 {
  background-color: #0288d1 !important;
}

.light-blue.darken-3 {
  background-color: #0277bd !important;
}

.light-blue.darken-4 {
  background-color: #01579b !important;
}

.light-blue.accent-1 {
  background-color: #80d8ff !important;
}

.light-blue.accent-2 {
  background-color: #40c4ff !important;
}

.light-blue.accent-3 {
  background-color: #00b0ff !important;
}

.light-blue.accent-4 {
  background-color: #0091ea !important;
}

.red {
  background-color: #F44336 !important;
}

.red.accent-4 {
  background-color: #D50000 !important;
}

.green.accent-4 {
  background-color: #00C853 !important;
}

/** Editable elements **/
.ui-inplace .ui-inplace-display {
	padding: 2px;
	border-radius: 2px;
}

.ui-inplace .ui-inplace-display.ui-state-highlight {
	background-color: #bfdaea;
	color: inherit;
	box-shadow: 0 0 0 1px #ccc;
	transition: box-shadow .15 ease;
}

.ui-inplace .ui-inplace-display:AFTER {
	font-family: FontAwesome;
    color: rgba(146, 144, 152, 0);
	vertical-align: middle;
	margin: 5px;
	content: "\f040";
}

h1 .ui-inplace .ui-inplace-display:AFTER {
	font-size: 10pt;
}

.ui-inplace .ui-inplace-display.ui-state-highlight:AFTER {
    color: inherit;
	transition: all 0.5s ease;
}

/** Date picker **/
.ui-datepicker .ui-datepicker-header  {
	background-color: #0288d1;
	color: #fff;
}

.ui-datepicker .ui-datepicker-header .ui-icon {
	background-image: url("#{resource['primefaces-juratheme:images/ui-icons_ffffff_256x240.png']}");
}

.ui-datepicker .ui-datepicker-calendar tbody a.ui-state-default {
	background-color: #eef2f7;
	border: 1px solid #eef2f7;
	color: #000;
}

.ui-datepicker .ui-datepicker-calendar tbody .ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-calendar tbody .ui-datepicker-current-day.ui-datepicker-today a{
	background-color: #0091ea;
	border: 1px solid #0091ea;
	color: #fff;
}

.ui-datepicker .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-hover,
.ui-datepicker .ui-datepicker-calendar tbody .ui-datepicker-today a.ui-state-default.ui-state-highlight.ui-state-hover {
	border: 1px solid #0277bd;
	background: #0277bd;
	color: #fff;
	transition: all 0.2s ease;
} 

.ui-datepicker .ui-datepicker-calendar tbody .ui-datepicker-today a.ui-state-default.ui-state-highlight {
	background-color: #e1f5fe;
	border: 1px solid #e1f5fe;
	color: #333;
}