<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="userForm">
		<p:dialog header="Add new user" widgetVar="userDlg" 
			modal="true" resizable="false" draggable="false" closable="false">
			<h:panelGrid id="userGrid" columns="2" cellpadding="5" columnClasses="panelLabels">

				<p:outputLabel for="email" value="Email:" />
				<h:panelGroup>
					<p:inputText id="email" value="#{userModel.currentUser.login}"
						required="true"
						requiredMessage="Email field can not be empty.">
						<f:validator binding="#{uniqueLoginValidator}" />
					</p:inputText>
					<p:message for="email" />
				</h:panelGroup>

				<p:outputLabel for="pwd1" value="Password:" />
				<h:panelGroup>
					<p:password id="pwd1" value="#{userModel.currentUser.password}"
						match="pwd2" required="true">
							<f:validateLength minimum="2" maximum="32"/>
						</p:password>
					<p:message for="pwd1" />
				</h:panelGroup>

				<p:outputLabel for="pwd2" value="Confirm Password:" />
				<h:panelGroup>
					<p:password id="pwd2" value="#{userModel.currentUser.password}"
						required="true" >
						<f:validateLength minimum="2" maximum="32"/>
					</p:password>
					<p:message for="pwd2" />
				</h:panelGroup>

				<h:panelGroup />
				<h:panelGroup />

				<p:outputLabel for="firstName" value="First name:" />
				<h:panelGroup>
					<p:inputText id="firstName" value="#{userModel.currentUser.name}" required="true"
						requiredMessage="First name can not be empty." />
					<p:message for="firstName" />
				</h:panelGroup>

				<p:outputLabel for="lastName" value="Last name:" />
				<h:panelGroup>
					<p:inputText id="lastName" value="#{userModel.currentUser.surname}" required="true"
						requiredMessage="Last name can not be empty." />
					<p:message for="lastName" />
				</h:panelGroup>

				<h:panelGroup />
				<h:panelGroup />

				<p:outputLabel for="status" value="Activate user?" />
				<p:selectBooleanButton id="status"
					value="#{userModel.currentUser.active}" 
					onLabel="Yes" offLabel="No"
					onIcon="ui-icon-check" offIcon="ui-icon-close" />

				<h:panelGroup />
				<h:panelGroup />

				<p:outputLabel for="roleMenu" value="Role:" />
				<h:panelGroup>
					<p:selectOneMenu id="roleMenu" style="width:80%"
						value="#{userModel.currentUser.role.id}" >
						<f:selectItem itemValue='2' itemLabel="User" />
						<f:selectItem itemValue='1' itemLabel="Admin" />
					</p:selectOneMenu>
				</h:panelGroup>
			</h:panelGrid>

			<f:facet name="footer">
				<p:commandLink value="Save"
					actionListener="#{userController.save()}"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('userDlg').hide();"
					icon="ui-icon-disk"
					update=":adminForm:adminTabs:userTable userGrid" />
				<p:commandLink value="Cancel"
					actionListener="#{userController.cancel()}"
					onclick="PF('userDlg').hide();" icon="ui-icon-cancel"
					immediate="true" />
			</f:facet>
		</p:dialog>
	</h:form>
</ui:composition>