<ui:composition template="../templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">

		<h:form id="adminForm" styleClass="customView">

			<p:tabView id="adminTabs" dynamic="true" cache="true"
				activeIndex="#{tabController.adminViewTabIndex}"
				onTabChange="handleTabChange(index)">
				<p:tab title="Users">
					<p:messages id="UserMessages" showDetail="true" autoUpdate="true" />
					<p:dataTable id="userTable" var="user" value="#{cachedUser.users}">
						<p:column headerText="Email">
							#{user.login}
						</p:column>
						<p:column headerText="Name">
							<p:inplace editor="true">
								<f:facet name="output">
									<h:outputText id="fullName" value="#{userController.getFullName(user)}"/>
								</f:facet>
								<f:facet name="input">
									<p:outputLabel for="inlineFirstName" value="First name:" />
									<br/>
									<p:inputText id="inlineFirstName" value="#{user.name}" style="width:90%; margin-bottom:5px;" />
									<br/>
									<p:outputLabel for="inlineLastName" value="Last name:" />
									<br/>
									<p:inputText id="inlineLastName" value="#{user.surname}" style="width:90%; margin-bottom:5px;" />
								</f:facet>
								<p:ajax event="save" listener="#{userController.save(user)}" update="fullName" />
							</p:inplace>
						</p:column>
						<p:column headerText="Role">
							<div class="centered">
								<p:inplace editor="true">
									<f:facet name="output">
										<h:outputText id="roleLabel"
											value="#{userController.capitalizeFirstLetter(user.role.role)}" />
									</f:facet>
									<f:facet name="input">
										<p:selectOneMenu value="#{user.role.id}" style="width : 80px;">
											<f:selectItem itemValue="1" itemLabel="Admin" />
											<f:selectItem itemValue="2" itemLabel="User" />
										</p:selectOneMenu>
									</f:facet>
									<p:ajax event="save" listener="#{userController.save(user)}"
										update="roleLabel" />
								</p:inplace>
							</div>
						</p:column>
						<p:column headerText="Status">
							<div class="centered">
								<p:inplace editor="true">
									<f:facet name="output">
										<h:outputText value="#{user.active ? 'Active' : 'Suspended'}" styleClass="#{user.active ? 'greenText' : 'redText' }"/>
									</f:facet>
									<f:facet name="input">
										<p:selectOneMenu value="#{user.active}" style="width:100px;"
											onchange="#{userController.save(user)}">
											<f:selectItem itemValue="true" itemLabel="Active" />
											<f:selectItem itemValue="false" itemLabel="Suspended" />
										</p:selectOneMenu>
									</f:facet>
								</p:inplace>
							</div>
						</p:column>
						<f:facet name="footer"><span></span></f:facet>
					</p:dataTable>
					<p:commandLink id="createNewUserButton" actionListener="#{userController.create()}" 
						update="userForm"
						oncomplete="PF('userDlg').show();" 
						styleClass="attachedButton btn-floating red">
						<i class="fa fa-user-plus"></i>
					</p:commandLink>
					<p:tooltip for="createNewUserButton" value="Create new user"></p:tooltip>
				</p:tab>
				
				<p:tab title="Projects">
					<p:messages id="ProjectMessages" showDetail="true" autoUpdate="true" />
					<p:dataTable id="projectTable" var="project"
						value="#{cachedProject.projects}" selectionMode="single"
						selection="#{project}" rowKey="#{project.id}">
						<p:ajax event="rowSelect" listener="#{projectController.onRowSelect}" />
						<p:column headerText="ID" style="width:100px;">
							#{project.id}
						</p:column>
						<p:column headerText="Project">
							#{project.title}
						</p:column>
						<p:column headerText="Manager">
							#{project.projectManager.name} #{project.projectManager.surname}
						</p:column>
						<p:column style="width:30px; padding:0;">
							<p:commandButton icon="fa fa-pencil" update="projectForm"
								actionListener="#{projectController.update(project)}"
								oncomplete="PF('projectDlg').show();"
								title="Edit project" style="width:30px; height:30px;" />
						</p:column>
						<f:facet name="footer"><span></span></f:facet>
					</p:dataTable>
					<p:commandLink id="createNewProjectButton" actionListener="#{projectController.create()}" 
						update="projectForm"
						oncomplete="PF('projectDlg').show();"  
						styleClass="attachedButton btn-floating red">
						<i class="fa fa-plus"></i>
					</p:commandLink>
					<p:tooltip for="createNewProjectButton" value="Create new project"></p:tooltip>
				</p:tab>
			</p:tabView>
		</h:form>

		<ui:include src="add_user.xhtml" />
		
		<ui:include src="project_form.xhtml" />
		
		<script type="text/javascript">
			function handleTabChange(i) {
				if (i === 0) {
					document.title = 'Admin - Users';
				} else {
					document.title = 'Admin - Projects';
				};
			};
		</script>
	</ui:define>
	
	<ui:define name="title">
		Admin - <h:outputText value="#{tabController.adminViewTabIndex eq 0 ? 'Users' : 'Projects'}" />
	</ui:define>
</ui:composition>