<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">

	<h:form id="projectForm">
		<p:dialog header="Project form" widgetVar="projectDlg" modal="true"
			resizable="false" draggable="false" closable="false" width="60%" height="410px">

			<h:panelGrid id="projectGrid" columns="2" cellpadding="5" columnClasses="panelLabels">

				<p:outputLabel for="title" value="Title:" />
				<h:panelGroup>
					<p:inputText id="title" required="true" value="#{projectModel.currentProject.title}" 
					requiredMessage="Title can not be empty." />
					<p:message for="title" />
				</h:panelGroup>

				<h:panelGroup />
				<h:panelGroup />

				<p:outputLabel for="startDateAdd" value="Start date:" />
				<h:panelGroup>
					<p:calendar id="startDateAdd" pattern="yyyy-MM-dd HH:mm" mask="true"
						value="#{projectModel.currentProject.startDate}" 
						binding="#{startDateComponent}" required="true"
						requiredMessage="Start date can not be empty.">
					</p:calendar>
					<p:message for="startDateAdd"/>
				</h:panelGroup>

				<p:outputLabel for="finishDateAdd" value="End date:" />
				<h:panelGroup>
					<p:calendar id="finishDateAdd" pattern="yyyy-MM-dd HH:mm" mask="true"
						value="#{projectModel.currentProject.finishDate}" required="true"
						requiredMessage="End date can not be empty.">
						<f:validator binding="#{projectDatesValidator}"/>
						<f:attribute name="startDateComponent" value="#{startDateComponent}"/>
					</p:calendar>
					<p:message for="finishDateAdd" />
				</h:panelGroup>

				<h:panelGroup />
				<h:panelGroup />

				<p:outputLabel for="manager" value="Manager:" />
				<p:autoComplete id="manager"
					value="#{projectModel.currentProject.projectManager}"
					completeMethod="#{userController.autoComplete}" var="user"
					itemLabel="#{user.showFullName()}" itemValue="#{user}"
					converter="#{userConverter}" placeholder="Unassigned"
					maxResults="5" minQueryLength="2" forceSelection="true"
					maxlength="255" emptyMessage="No matches"/>

				<h:panelGroup />
				<h:panelGroup />

				<p:outputLabel for="description" value="Description:" />
				<p:editor id="description" widgetVar="editorWidget" value="#{projectModel.currentProject.description}" height="150"/>	

			</h:panelGrid>

			<f:facet name="footer">
				<p:commandLink value="Save"
					actionListener="#{projectController.saveWithAutoAssign()}"
					oncomplete="if (args &amp;&amp; !args.validationFailed) PF('projectDlg').hide();"
					icon="ui-icon-disk" update=":adminForm:adminTabs:projectTable projectGrid" />

				<p:commandLink value="Cancel"
					actionListener="#{projectController.cancel()}"
					onclick="PF('projectDlg').hide();" icon="ui-icon-cancel"
					immediate="true" />
			</f:facet>

		</p:dialog>
	</h:form>
</ui:composition>